@using Psychology.ViewModels
@model AdminViewModel

@{
    Layout = "_Admin";
    ViewData["Title"] = "Добавление студента";
}
<form method="post">
    <article class="post">
        <header>
            <div class="title">
                <h1>Добавление студента</h1>
            </div>
        </header>
        <div><b>ФИО</b></div>
        <div class="text" style="min-width:100%">
            <textarea asp-for="Student.Name" class="form-control" style="resize:none" maxlength="150" rows="1" placeholder="Введите ФИО..." required></textarea>
        </div>
        <div><b>Пароль</b></div>
        <div class="text" style="min-width:100%">
            <textarea asp-for="Student.Password" class="form-control" style="resize:none" maxlength="25" rows="1" placeholder="Введите пароль..." required></textarea>
        </div>
        <div class="actions" style="margin-top:20px">
            <input type="submit" value="Добавить">
        </div>
        <input type="hidden" asp-for="Group.Id" value="@Model.Group.Id">
    </article>
</form>