<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <h1 style="width:95%">
                <a href="/LecturerTest/">Тесты</a> 
                <a style="margin-left:3%" href="/LecturerResult/">Результаты</a> 
                <a style="margin-left:3%" href="" target="_blank">Справка</a>
            </h1>
            <h1 ><a href="/Authorization/Logout"><img src="~/images/Logout.png" style="margin-top: 17px;" width="20" height="20" alt="Выход из системы"></a></h1>
        </header>
        <!-- Main -->
        <div id="main">
            <!-- Post -->
            @RenderBody()
        </div>

        <!-- Footer -->
        <section id="footer">
            <p class="copyright">&copy; Морозова А.Р. (АГТУ)</p>
        </section>

    </div>

    <!-- Scripts -->
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>