@using Psychology.ViewModels


@{
    Layout = "_Lecturer";
    ViewData["Title"] = "Шаблоны тестов";
}
<form method="post" enctype="multipart/form-data">

    <article class="post">
        <header>
            <div class="title">
                <h2>Шаблон для тестов с ответами в виде шкалы (от 1 до ...)</h2>
            </div>
        </header>

        <p>#название: <i>название теста на этой же строке через пробел (максимум 150 символов)</i></p>

        <p>#описание: <i>описание теста на этой строке через пробел или с новой строки (максимум 400 символов)</i></p>

        <p>#тип: 1</p>

        <p>#размер: <i>количество вопросов в тесте на этой же строке через пробел</i></p>

        <p>#шкала: <i>количество ответов на вопрос на этой же строке через пробел</i></p>

        <p>#перемешивание: <i>+/- на этой же строке через пробел</i></p>

        <p>#инструкция: <i>инструкция к прохождению теста на этой строке через пробел или с новой строки (максимум 500 символов)</i></p>

        <p>#обработка: <i>рекомендации к тесту на этой же строе через пробел или с новой строки (количество символов не ограничено)</i></p>

        <p>
            #тест_начало
            <br />+в: <i>текст вопроса на этой же строке через пробел (максимум 300 символов)</i>
            <br />+в:
            <br />#тест_конец
        </p>
        <p>
            #критерии_начало
            <br />+к: <i>название критерия на этой же строке через пробел (максимум 100 символов)</i>
            <br />-в: <i>1 2 - пример. на этой же строке через пробел</i>
            <br />+к:
            <br />-в:
            <br />#критерии_конец
        </p>

    </article>

    <article class="post">
        <header>
            <div class="title">
                <h2>Шаблон для тестов с ответами Да/Нет</h2>
            </div>
        </header>

        <p>#название: <i>название теста на этой же строке через пробел (максимум 150 символов)</i></p>

        <p>#описание: <i>описание теста на этой строке через пробел или с новой строки (максимум 400 символов)</i></p>

        <p>#тип: 2</p>

        <p>#размер: <i>количество вопросов в тесте на этой же строке через пробел</i></p>

        <p>#перемешивание: <i>+/- на этой же строке через пробел</i></p>

        <p>#инструкция: <i>инструкция к прохождению теста на этой строке через пробел или с новой строки (максимум 500 символов)</i></p>

        <p>#обработка: <i>рекомендации к тесту на этой же строе через пробел или с новой строки (количество символов не ограничено)</i></p>

        <p>
            #тест_начало
            <br />+в: <i>текст вопроса на этой же строке через пробел (максимум 300 символов)</i>
            <br />+в:
            <br />#тест_конец
        </p>

        <p>
            #критерии_начало
            <br />+к: <i>название критерия на этой же строке через пробел (максимум 100 символов)</i>
            <br />-в: <i>1(2) 2(1) - пример. на этой же строке через пробел, в скобках указывается номер ответа, за который начисляется бал (1 - ДА, 2 - НЕТ)</i>
            <br />+к:
            <br />-в:
            <br />#критерии_конец
        </p>

    </article>

    <article class="post">
        <header>
            <div class="title">
                <h2>Стандартный шаблон</h2>
            </div>
        </header>

        <p>#название: <i>название теста на этой же строке через пробел (максимум 150 символов)</i></p>

        <p>#описание: <i>описание теста на этой строке через пробел или с новой строки (максимум 400 символов)</i></p>

        <p>#тип: 3</p>

        <p>#размер: <i>количество вопросов в тесте на этой же строке через пробел</i></p>

        <p>#шкала: <i>количество ответов на вопрос на этой же строке через пробел</i></p>

        <p>#перемешивание: <i>+/- на этой же строке через пробел</i></p>

        <p>#инструкция: <i>инструкция к прохождению теста на этой строке через пробел или с новой строки (максимум 500 символов)</i></p>

        <p>#обработка: <i>рекомендации к тесту на этой же строе через пробел или с новой строки (количество символов не ограничено)</i></p>

        <p>
            #тест_начало
            <br />+в: <i>текст вопроса на этой же строке через пробел (максимум 300 символов)</i>
            <br />-о: <i>текст ответа на этой же строке через пробел (максимум 150 символов)</i>
            <br />-о:
            <br />+в:
            <br />-о:
            <br />-о:
            <pbr />#тест_конец
        </p>
        <p>
            #критерии_начало
            <br />+к: <i>название критерия на этой же строке через пробел (максимум 100 символов)</i>
            <br />-в: <i>1(2) 2(1) - пример. на этой же строке через пробел, в скобках указывается номер ответа, за который начисляется бал</i>
            <br />+к
            <br />-в:
            <br />#критерии_конец
        </p>

    </article>
</form>