@using Psychology.ViewModels
@model AuthorizationViewModel

@{
    Layout = "_Authorization";
    ViewData["Title"] = "Главная";
}

<p><center>Определитесь, кто Вы, и перейдите на соответствующую вкладку</center></p>