@using Psychology.ViewModels
@model AuthorizationModel

@{
    Layout = "_Authorization";
}

<form asp-action="Login" asp-controller="Authorization" asp-anti-forgery="true">
    <article class="post">
        <header>
            <div class="title">
                <h1>Вход в систему</h1><p><b>(@Model.TypeUser)</b></p>
            </div>
        </header>
        <div class="validation" asp-validation-summary="ModelOnly"></div>

            <p><b>Логин</b></p>
                <input style="margin-top: -25px" type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
            <p style="margin-top:20px"><b>Пароль</b></p>
            <input style="margin-top: -25px"  asp-for="Password" />
            <span asp-validation-for="Password" />

            <div class="actions">
                <input style="margin-top: 20px" type="submit" value="Войти">
            </div>
            <input type="hidden" asp-for="TypeUser" value="@Model.TypeUser">
    </article>
</form>